.table{
    width: 100%;
    border: 1px solid;
    border-collapse: collapse;
}
th,td{
    padding: 15px;
    border: 1px solid #a4a4a4;
    height: 30px;
    align: center;
}


footer{ background-color: #000; 
         color:#fff;
         font-size:14px; }
#left{
    float:center;
}
#right{
    float:center;
    }
.responsive {
  width: 100%;
  height: auto;
}
.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
